* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1e1e2e;
  color: #cdd6f4;
  width: fit-content;
  margin: 0 auto;
  padding: 0 0rem;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #cad3f5;
}

li {
  list-style: none;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #181825;
}

.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-btn {
  background-color: #a6e3a1;
  color: #181825;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #f5e0dc;
}

/* Footer */
hr {
  border: none;
  background-color: #9B9C9D;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #1D1E20;
}

.footer-container p {
  font-size: 0.8rem;
  color: #9B9C9D;
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #f5bde6;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #DADADB;
}

/* Hero */
.hero-container {
  padding: 2rem 2rem;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

.hero-container .flex-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.hero-container .flex-hero .hero-text {
  width: 50%;
}

.hero-container .flex-hero .hero-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-container .flex-hero .hero-img {
  width: 50%;
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.hero-container .flex-hero .hero-img .profile-img {
  overflow: hidden;
  max-width: 75%;
  max-height: 50%;
  object-fit: cover;
  border: 2px solid #DADADB;
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
  cursor: cell;
}

.hero-container .flex-hero .hero-img .profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .hero-container .flex-hero {
    flex-direction: column;
  }

  .hero-container .flex-hero .hero-text {
    width: 100%;
  }

  .hero-container .flex-hero .hero-img {
    width: 100%;
  }
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .hero-container .hero-text {
    width: 100%;
  }
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.hero-container .social-icons a {
  color: #f5bde6;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
  color: #DADADB;
}

/* About */
.about-container {
  padding: 2rem 2rem;
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.about-container .flex-about .about-text {
  width: 50%;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
  width: 50%;
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  max-width: 75%;
  max-height: 50%;
  object-fit: cover;
  border: 2px solid #DADADB;
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
  cursor: cell;
}

.about-container .flex-about .about-img .profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
  }
}

/* Skills */
.skills-container {
  padding: 2rem 2rem;
}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-container .grid-skills .skill-card {
  background-color: #DADADB;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .java:hover {
  background-color: #fab387;
}

.skills-container .grid-skills .C:hover {
  background-color: #f38ba8;
}

.skills-container .grid-skills .js:hover {
  background-color: #94e2d5;
}

.skills-container .grid-skills .react:hover {
  background-color: #74c7ec;
}

.skills-container .grid-skills .node:hover {
  background-color: #a6e3a1;
}

.skills-container .grid-skills .python:hover {
  background-color: #89b4fa;
}

.skills-container .grid-skills .azure:hover {
  background-color: #cba6f7;
}

.skills-container .grid-skills .linux:hover {
  background-color: #f9e2af;
}

/* Projects */
.projects-container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px; /* Limit max width for centering */
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #cba6f7;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}

.project-text {
  flex: 2;
}

.project-image {
  flex: 1;
  max-width: 400px;
  min-width: 250px;
}

.project-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  transition: transform 0.3s ease;
}

.project-img:hover {
  transform: scale(1.02);
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .project-content {
    flex-direction: column;
    gap: 1rem;
    align-items: center; 
  }
  
  .project-image {
    max-width: 100%;
    min-width: unset;
  }
  
  .project-img {
    height: 200px;
  }
}

/*TODO: Move this pllllz */
.project-card .icon {
  font-size: 35px;
  color: #cba6f7;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}

/* contact */
.contact-container {
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}